.profile {
    width: 320px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 200px auto;
}

.profile--user {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px auto;

}

.user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.user--photo {
    width: 82px;
    height: 82px;
    margin-bottom: 12px;
    position: relative;
    /* border: solid 2px #353; */
    /* background-color: aquamarine; */
    border-radius: 50%;
    cursor: pointer;
    /* clip-path: circle(); */
}

.user--photo::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid 1px #786450;
    border-right: solid 1px #fff;
    border-radius: 50%;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
    transition: 2s;
}

.user--photo:hover::before {
    transform: translate(50%, 50%) rotate(360deg);
}


.user--photo::after {
    content: '';
    width: 76px;
    height: 76px;
    position: absolute;
    border: solid 1px #786450;
    border-left: solid 1px #fff;
    border-radius: 50%;
    transform: translate(50%, 50%);
    right: 41px;
    bottom: 41px;
    transition: 2s;
}

.user--photo:hover::after {
    transform: translate(50%, 50%) rotate(-360deg);
}

.user--photo img {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    transform: translate(50%, 50%);
    right: 41px;
    bottom: 41px;
}


.user--name {
    color: #786450;
    font-size: 15px;
    font-weight: 700;
}

.user--profession {
    color: #786450;
    font-size: 11px;
}

.controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.controls--button {
    width: 120px;
    padding: 7px;
    background-color: #fff;
    color: #786450;
    border: solid 1px #786450;
    border-radius: 15px;
    font-weight: 600;
}

.controls--button:hover {
    background-color: #786450;
    color: #fff;
    cursor: pointer;
}

.profile--dashboard {
    display: grid;
    grid-row: 1fr 1fr 1fr;
    row-gap: 1px;
}

.dashboard-item {
    background-color: #F5E8DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-item:hover {
    background-color: #E1CFC2;
    cursor: pointer;
}

.dashboard-item--value {
    color: #786450;
    font-size: 18px;
    font-weight: 600;
}

.dashboard-item--title {
    margin: 0px;
    color: #786450;
    font-size: 10px;
    font-weight: 100;
}